
/* a retirer pour garder la feuille de style */
/* @tailwind base;*/
@tailwind components;
@tailwind utilities;

#entete {
   margin-left: 400px;
    }

/* couleur des titres <h2> */
h2  {
color: orange;
/* titre <h2> sur une seule ligne */
width: 100%;
}

/* corps de la page*/
body 
{
    background-color: grey;
    margin: 0%;
}

#logo-fixe img
{
    float: left;
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 10px;
}


header nav ul 
{
    /*display aligne accueil,menu,contact,reservation*/
    display: flex;
    /*Justify laisse un espace entre accueil,menu,contact,reservation*/
    justify-content:space-evenly;
    /* pour retirer les points dans .menu, .contact, .reservation,...
    sur la 1ere page*/
    list-style-type: none;
    /* padding modifie la marge interieure*/
    padding: 10;
    /* margin modifie la marge Exterieure de menu, cours, tarifs, etc ..*/
    margin: 45px;
} 

/* champs accueil, cours, tarifs, etc... */
header nav ul a 
{
    background-color: white;
    border: 3px solid grey;
    /* 1rem= hauteur et 2rem=largeur, pour
    encadrement de Accueil,Cours,Taris, etc ... */
    padding: 1rem 2rem;
    /*supprime le soulignement sous Accueil,Cours,Tarifs,Contact et Mentions*/
    text-decoration: 0;
    /* arrondi autour de Accueil, Cours, Tarifs, etc ... */
    border-radius: 10px;
    color: black;
    font-style: normal;
}

header 
{
    /* hauteur du bandeau header */
    min-height:100px;
    overflow-y:auto;
    background-color: orange;
    /* bandeau autour du header */
    border:5px solid #CCC;
}

 /* Entete accueil par rapport au header*/
.entete_accueil
{
    /* test dans le corps de la page */
    font-family: Georgia;
    font-size:100%;
    font:bolder;
    margin-top:30px;
    margin-left: 400px;
    }
    
.bas_accueil
{
    /*font-family: Georgia;*/
    font-size:100%;
    font:bolder;
    margin-top:50px;
    margin-left: 400px;
}

#conteneur_accueil 
img
{
    /* position des photos par rapport au header */ 
    margin-top: 80px;
    /*bord des photo arrondi*/
    border-radius: 10px;
    max-width: 30%;
    /*margin:auto;*/
    /* espace entre 2 images*/
    /*margin: 1px;*/
    /*left: 10%;*/
    margin-left : 45px;
    font-family: Georgia;
}

.horaires 
{
    display: inline-block;
    /*background: rgba(0, 0, 0, 0.8);*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*text-align: center;*/
    font-family: Georgia;
    font-size:200%;
    margin-top:40px;
    margin-left: 200px;
    /* right: 20px;*/
    /*color: white;*/
    /* width: 50%;*/
}

#conteneur_cours
img
{
    /* position des photos par rapport au header */ 
    margin-top: 60px;
    /*bord des photo arrondi*/
    border-radius: 10px;
    /* alignement des photos sur la ligne */
    max-width: 22%;
    /* espaCe entre les photos */
    margin-left : 45px;
}

#conteneur_cours_expert
img
{
    /* position des photos par rapport au header */ 
    margin-top: 80px;
    /*bord des photo arrondi*/
    border-radius: 10px;
    /* alignement des photos sur la ligne */
    max-width: 22%;
    /* espave entre les photos */
    margin-left: 300px;
}

 /* Bas Cours par rapport au header*/
 .bas_cours
 {
    /* test dans le corps de la page */
    font-family: Georgia;
    font-size:100%;
    font:bolder;
    margin-top:100px;
    margin-left: 400px;
}

.tarifs
{
display: inline-block;
    /*background: rgba(0, 0, 0, 0.8);*/
    /*z-index: 1;*/
    /*position: absolute;*/
    /*text-align: center;*/
    font-family: Georgia;
    font-size:200%;
    margin-top:40px;
    margin-left: 200px;
        
}

#conteneur_tarifs
img
{
    /* position des photos par rapport au header */ 
    margin-top: 30px;
    /*bord des photo arrondi*/
    border-radius: 10px;
    /* alignement des photos sur la ligne */
    max-width: 22%;
    /* espace de la photo avec la marge*/
    margin-left : 200px;
}

 /* Bas Tarifs par rapport au header*/
 .bas_tarifs
 {
    /* test dans le corps de la page */
    font-family: Georgia;
    font-size:100%;
    font:bolder;
    margin-top:100px;
    margin-left: 400px;
}
    
.contact
{
    display: inline-block;
    font-family: Georgia;
    font-size:200%;
    margin-top:40px;
    margin-left: 100px;
}

.maps
{
    margin-top:40px;
    margin-left: 200px;
}


.formulaire
{
    border-radius:10px;
    background-color:#f2f2f2;
    /* taille des champs dans le formulaire */
    padding:30px;
    /*largeur du formulaire*/
    max-width: 450px;
    margin: auto;
    top: 900px;
    margin-left: 300px;
}
/*
body {font-family: Arial, Helvetica, sans-serif;
    padding: 0px;}
*/
input[type=text], textarea, input[type=email] 
{
    width: 100%;
    /*hauteur des champs du formulaire*/
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* hauteur entre libelle et champs*/
    margin-top: 6px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label
{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=submit] 
{
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*hover permet changement couleur au passage souris */
input[type=submit]:hover 
{
    background-color: black;
   
}

/* Mentions par rapport au header*/
.mentionslegales
{
    font-family: Georgia;
    font-size:100%;
    margin-top:40px;
    margin-left: 30px;
}

/* Footer en fonction de la taille de la page */
footer 
{
	position:absolute;
	width: 100%;
    /* emplacement du footer par rapport au corps de la page */
    /* a retirer pour côté responsive*/
	/*top: 350%;*/
	list-style-type: none;
    /* bandeau autour du header */
    border:5px solid #CCC;
    color: black;
}

 /* bandeau footer en orange */
 .site-footer
 {
    background-color: orange;
    /* hauteur du texte dans le footer */
    padding: 15px;
 }

 /* hauteur bandeau footer orange */
 .site-footer, .page-wrap:after 
 {
    height: 90px;  
 }
